*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1250px;
    margin: 15px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manus ul{
    display: flex;
    align-items: center;
}


.manus ul li{
    list-style: none;
    text-transform: uppercase;
}

.manus ul li a{
    color: rgb(27, 27, 27);
    text-decoration: none;
    font-size: 20px;
    margin: 0px 30px;

}

.manus ul li a:hover{
    color: rgb(143, 142, 142);
}

.btn-primary{
    background-color: #00c0ff;
    border: none;
    padding: 6px 30px;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    transition: .5s;
    margin-right: 8px;


}

.btn-primary:hover{
    background-color: #038dbb;

}

.btn-icon img{
    width: 30px;
}

.sign-up{
    display: flex;
    align-items: center;
    margin-left: 30px;
}